<div class="modal fade"
     id="confirmDeleteModal"
     tabindex="-1"
     aria-labelledby="confirmDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0 mx-2">
                <h4 class="modal-title fs-4" id="confirmDeleteModalLabel">Confirm Delete</h4>
                <button type="button"
                        class="border-0 bg-transparent"
                        data-bs-dismiss="modal"
                        aria-label="Close"><i class="mdi mdi-circle fs-5 text-danger"></i></button>
            </div>
            <div class="modal-body mx-2">
                <div class="d-flex flex-column">
                    <p>Are you sure you want to delete {{ bot.name }} bot?.This will delete all <span id="data-text"></span> data associated with this bot.</p>
                </div>
                <form method="post" class="d-flex justify-content-center">
                    {% csrf_token %}
                    <div class="modal-footer border-0">
                        <button type="submit" class="btn btn-danger">Yes Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteButton = document.querySelector('[data-bs-target="#confirmDeleteModal"]');
        if (deleteButton) {
            deleteButton.addEventListener('click', function () {
                var dataText = deleteButton.getAttribute('data-text');
                document.getElementById('data-text').textContent = dataText;
            });
        }
    });
</script>
